@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&family=Prompt:wght@400;700&display=swap");
html,
body {
    background-color: #ffffff !important;
    box-sizing: border-box;
    /* height: 100%; */
    font-family: "Mukta", sans-serif;
    font-weight: 400;
}

button,
p,
span,
form {
    font-family: "Mukta", sans-serif;
    /* font-weight: 400; */
}

.instructor_theme {
    background-color: rgba(42, 157, 143, 1) !important;
}

.instructor_theme:hover {
    background-color: rgba(255,255,255,1) !important;
}

.student_theme {
    background-color: #4051b5;
}

h1,
h2,
h3,
h4 {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
}

h5,
h6 {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}

.loading {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.classroom_container {
    display: flex;
    flex-flow: column nowrap;
    outline: 1px solid black;
    padding: 1rem;
}

.classroom_container-block {
    background-color: rgba(42, 157, 143, 1);
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    flex: 0 1 1;
    padding: 1rem;
    margin: 1rem;
    /* margin: 0.25rem; */
}

.use-me-for-spacing {
    cursor: none !important;
    opacity: 0;
    pointer-events: none !important;
}

.use-me-for-spacing:hover {
    background-color: none;
}

.bg-brown {
    background-color: #9d7c2a;
}

.bg-red {
    background-color: #9d2a6b;
}

.bg-green {
    background-color: rgba(42, 157, 143, 1);
}

.bg-blue {
    background-color: rgba(64, 81, 181, 1);
}

.bg-purple {
    background-color: #673ab7;
}

.user_avatar-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.user_avatar-row p {
    margin-left: 1rem;
}

.classroom_container_top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.classroom_container-classlist {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 60px 60px;
    padding: 1rem;
    margin: 0 auto;
    max-width: 800px;
}

.classroom_container-classgroups {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0 auto;
    max-width: 800px;
}

.classroom__group {
    background-color: rgba(64, 81, 181, 0.8);
    border-radius: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    height: auto;
    margin: 0.25rem;
    padding: 1rem;
    width: auto;
}

.grouping__menu {
    color: white;
    justify-content: flex-start;
}

.classroom__group h3 {
    color: white;
    margin: 0.25rem 0.75rem 0.75rem;
    text-align: center;
}

.no-groups {
    text-align: center;
}

.no-students {
    grid-column: 1 / 3;
    text-align: center;
}

.group_creation-container .MinimalSelect-select-18{
    font-family: 'Mukta', sans-serif !important;
}

.MinimalSelect-list-21 .MuiListItem-root {
    font-family: 'Mukta', sans-serif !important;
}

.MinimalSelect-list-21 .MuiListItem-root .MuiSvgIcon-root {
    color: #673ab7;
}

.student-ci-qs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    grid-area: c;
}

.classroom_container_student {
    display: block;
    /* flex-flow: row wrap; */
    justify-content: flex-start;
    /* padding: 1rem; */
}

.classroom_container_student-deets {
    /* background-color: rgba(42, 157, 143, 0.8) !important; */
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: grid;
    /* border: 1px solid rgba(64, 81, 181, 1); */
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "a n n n"
        "a . . ."
        "a . . c"
        "a . . c";
    margin: 0.25rem;
    padding: 0.25rem;
}

.student-avatar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    grid-area: a;
}

.student-name,
.student-email {
    font-size: 0.875rem;
    margin: 0;
}
.student-email {
    grid-area: e;
    /* outline: 1px solid orange; */
    text-align: right;
}

.student-name {
    grid-area: n;
    font-weight: bold;
    text-align: right;
    /* outline: 1px solid orange; */
}

.student-checked_in {
    /* outline: 1px solid orange; */
}

.student-question {
    /* outline: 1px solid orange; */
}

.classroom_container-block-list {
    border-radius: 10px;
}

.classroom_container-block h4 {
    color: white;
}

.classroom_container-block-instructor span {
    color: white;
    font-family: "Mukta", sans-serif !important;
    font-size: 0.875rem !important;
}

#root {
    height: 100%;
}

.student_list_header {
    font-family: "Prompt", sans-serif !important;
}

.student_list_item span {
    font-family: "Mukta", sans-serif !important;
}

.react-tabs__tab-list {
    border-bottom: 1px solid rgba(64, 81, 181, 0.5) !important;
    font-family: "Mukta", sans-serif;
}

.react-tabs__tab--selected {
    border-color: rgba(64, 81, 181, 0.5) !important;
    font-weight: 700;
}

.center-me {
    text-align: center;
}

.classroom__grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 1rem;
}

.classroom__grid-classroom_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

.classroom__grid-item-top {
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: white;
    flex: 1 1 33%;
    margin: 1rem;
    padding: 1rem;
}

.classroom__grid-title {
    text-align: center;
}

.classroom__grid-item {
    /* background-color: rgba(42, 157, 143, 1); */
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: white;
    flex: 0 1 1;
    margin: 1rem;
    padding: 1rem;
}

.classroom__details-row {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.classroom__details-row h4 {
    border-bottom: 1px solid white;
    margin-bottom: 0;
    flex: 1 1 100%;
}
.classrooms-container {
    width: 100%;
    height: 100%;
}

.classroom-name {
    text-decoration: underline;
}

.qa_buttons,
.classrooms__actions button,
.ask_a_question,
.student_check_in,
.meeting_link
{
    background-color: rgba(64, 81, 181, 1);
    border-radius: 4px;
    border: none;
    color: rgba(250, 250, 250, 1);
    cursor: pointer;
    font-size: 0.75rem;
    font-family: "Prompt", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.75;
    margin: 0 0.25rem 0 0;
    padding: 3px 8px;
    text-transform: uppercase;
}


.instructor_theme:hover,
.classrooms__actions button:hover,
.meeting_link:hover,
.ask_a_question:hover,
.student_check_in:hover,
.qa_buttons:hover
{
    background-color: rgba(250, 250, 250, 1);
    color: rgba(64, 81, 181, 1);
    transition: background-color 250ms, color 250ms;
}

.depad_question_button {
    padding: 0 !important;
}

.question_pending {
    text-transform: uppercase;
}

.classrooms__actions button:focus {
    outline: none;
}

.classrooms__actions {
    display: flex;
    flex-flow: row nowrap;
}

.plus-icon {
    display: flex;
    align-items: center;
}
.outlined {
    margin: 10px;
    outline: 1px solid pink;
}
.appContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userCardContainer {
    width: calc(100% * (1 / 4) - 10px - 1px);
}

.negative-space {
    height: 64px;
}

.content__divider {
    margin: 2em 0 !important;
}

.meeting_link {
    text-decoration: none;
}

.landing__container {
    background-color: rgba(64, 81, 181, 1);
    display: flex;
    height: 100%;
}

.landing {
    align-items: center;
    background-color: rgba(42, 157, 143, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: auto;
    flex: 1 1 100%;
    height: 50%;
}

.landing__callout {
    display: flex;
    flex-flow: row wrap;
}

.landing__callout-featured {
    align-items: center;
    align-self: center;
    background-color: rgba(64, 81, 181, 0.3);
    border: 1px dotted rgba(42, 157, 143, 0.9);
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    justify-self: center;
    height: 15rem;
    width: 15rem;
    margin: 0 1rem;
    padding: 2rem;
    text-align: center;
}

.landing h1,
.landing h2 {
    color: rgba(240, 240, 240, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.landing__callout-featured-icon,
.landing__callout-featured h3,
.landing__callout-featured h4 {
    color: rgba(240, 240, 240, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.landing__callout-featured-bold {
    font-weight: 600;
}

.landing__callout-featured h3,
.landing__callout-featured h4 {
    margin: 0 auto;
}

.landing__callout-featured-icon {
    font-size: 3rem !important;
}

.login__wrapper {
    display: flex;
    height: 100vh;
}

.login__container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
    justify-content: center;
}

.account__creation_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1rem;
}

.account__creation_link {
    color: inherit;
    margin-left: 0.5em;
    text-decoration: none;
}

.account__creation_link:hover {
    border-bottom: 1px solid #2a9d8f;
    color: #2a9d8f;
}

.add_classroom_action {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.add_classroom_action button {
    font-family: "Prompt", sans-serif;
}

.add_classroom_action button:hover {
    background-color: rgb(64, 81, 181);
}

.transfer_list_header {
    margin-top: 0;
    text-align: center;
}

.transfer_list__title-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 1rem;
}

.transfer_list__title-bar h3 {
    font-family: "Mukta", sans-serif;
    margin: 0;
    padding: 12px;
}

.transfer_list-student span {
    font-family: "Mukta", sans-serif !important;
}

.footer__text,
.footer__icon {
    color: white;
    font-family: "Mukta" !important;
}

.footer__devs {
    align-items: center;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.footer__devs a {
    box-sizing: border-box;
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}

.footer__devs a:hover {
    background-color: white;
    color: #4051b5;
}

.footer__copyright-link {
    box-sizing: border-box;
    padding: 0 0.25rem;
}

.footer__copyright-link:hover {
    background-color: white;
    color: #4051b5;
    text-decoration: none !important;
}

.signup__wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
}

.splash__footer-negative-space {
    height: 64px;
    position: absolute;
    bottom: 0;
}

.splash__footer {
    background-color: #4051b5;
    font-family: "Mukta" !important;
    padding: 2rem;
    width: 100%;
}

.splash__topbar-title,
.splash__hero-title {
    font-family: "Prompt", sans-serif !important;
    font-weight: 700;
}

.splash__hero-title {
    font-size: 3.25rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.splash__callout-boxes {
    font-family: "Mukta" !important;
}

.splash__hero-subtitle {
    color: gray;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-align: center;
}

.splash__callout-featured-icon {
    color: #2a9d8f;
    font-size: 3rem !important;
}

.splash__callout-features {
    margin: 2rem;
    padding: 2rem;
}

.MuiTextField-root > label {
    font-family: "Mukta", sans-serif !important;
}

.user_card_container {
    outline: 1px solid black !important;
}

@media screen and (min-width: 600px) {
    .splash__footer {
        bottom: 0;
        position: absolute;
    }
}

@media screen and (min-width: 600px) {
    .classroom_container-classlist {
        grid-template-columns: repeat(3, 1fr);
    }
    .no-students {
        grid-column: 1 / 4;
    }
    .footer__devs {
        flex-flow: row wrap;
    }
}

@media screen and (min-width: 800px) {
    .classroom_container-classlist {
        grid-template-columns: repeat(4, 1fr);
    }
    .no-students {
        grid-column: 1 / 5;
    }
}
